<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'bo_app/css/home.css' %}" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    
    <div class="page">
        <div class="top">
            <div class="top_left">
                <h1>Hello, {{ user.first_name }}</h1>
                <a href="/messages"><button class="btn_message">Messages</button></a>
                <a href="/profile/{{user.id}}"><button class="btn_message">Profile</button></a>
            </div>
            
            <button class="logout"><a href="/logout">Logout</a></button>
        </div>

        <div class="main">
                <div class="left_side">
                <div class="profile">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            
                
                <div class="other_users">
                    <h4>Other Users</h4>
                    {% for user in users %}
                        {% for friend in notfriends %}
                            {% if friend == user.id %}
                              <p><a href="/profile/{{user.id}}">{{ user.first_name }} {{ user.last_name }}</a><a href="/add/{{user.id}}"><button>ADD</button></a> </p>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div> 
            </div>
            
                
            
            <div class="middle">
                    <!-- post text area -->
                <div class="create_post">
                    <h4>Share something here: <a href="/upload/{{user.id}}"><button class="create_post_btn"> Create post</button></a></h4>
                </div>
                
                
            

                <!-- Posts -->
            
                <hr>
            <div class="post">
                {% for post in posts %}
                    {% for user in all_users %}
                    
                        {% if post.post_by_id == user.id %}
                            
                            <p ><a href="/profile/{{user.id}}">{{ user.first_name}}:</a></p>
                            <p>{{ post.content }}</p>
                            <p class="post_create_at">{{ post.created_at }}</p>
                            {% if post.image.url != null%}
                            <div class="post_image">
                                <a href="{{ post.image.url }}"><img src="{{ post.image.url }}" alt="image "></a><br>
                            </div>
                             {% endif %}
                           
                            {% for comment in comments %}
                                {% if comment.comment_to_id == post.id %}
                                    <p class="comment"><a href="/profile/{{user.id}}">{{user.first_name}}: </a> {{ comment.comment }}</p>
                                {% endif %}
                            {% endfor %}
                                <form action="/comment/{{post.id}}" method="POST">
                                {% csrf_token %}
                                <textarea name="comment_content" id="post_area" cols="80" rows="3"></textarea>
                                <button class="comment_btn"><input class="comment_input" type="submit" value="Comment"></button>
                            </form>
                            <hr>
                            
                        {% endif %}
                    {% endfor %}  
                {% endfor %}
            </div>

            </div>
            <div class="right_side">
                {% for user in users %}
                    {% for friend in friends %}
                        {% if friend.friends_with_id == user.id %}
                            <p><a href="/profile/{{user.id}}">{{ user.first_name }}</a></p>
                        {% endif %}
                    {% endfor %}                
                {% endfor %}
            </div>
            



        </div>  
    </div>
        
</body>

</html>